<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        {% for hotel in hotels %}
        <div style="display: flex; margin-bottom: 15px; margin-left: 200px">
            <img src="{{ url_for('static', path='images/' + hotel.image_id|string + '.webp')}}", alt="Фото отеля", width="250">
            <div style="margin-left: 15px">
                <h2>{{hotel.name}}</h2>
                <h4>{{hotel.location}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>